.johnny{
	width:200px;
}
.miguel{
	width:230px;
}
.dogoo{
	width:400px;
}
.thirdcolumn{
	padding-top: 50px;
}
body{
	background-color: black;
}
.lastrow{
	background-image: url("../img/cobrakailogo1.jpg");
	padding-top: 300px;
	padding-bottom: 600px;
}
h1{
	color: #780606;
	font-size: 100px;
	font-family: fantasy, copperplate;
}
.photos{
	color: #780606;
	font-family: serif, times new roman;
	font-size: 25px;
}
.blackcolor{
	color: #780606;
	font-family: serif, times new roman;
	font-size: 35px;
}
.redcolor{
	color: whitesmoke;
	font-family: serif, times new roman;
}
.lastparagraph{
	color: whitesmoke;
	font-family: fantasy, papyrus;
}
.backcolor{
	padding-bottom: 50px;
	padding-top: 50px;
}